<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
    <style media="screen">
      body{
        background-color: #007bff;
        text-align: center;
        list-style-position: inside;
      }
    </style>
  </head>
  <body>
    <h1>Welcome To PennApps Programming 101! </h1>
    <img src="https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/84285826_2830277980363150_6441809142741991424_o.jpg?_nc_cat=101&_nc_ohc=HLuWKPLtCskAX86L6kV&_nc_ht=scontent-iad3-1.xx&oh=ccbab756e7c0f4e0ec583149a0b8720f&oe=5EF84F29" height="300"
    width="600"> <br>
    <p>Thank you guys so much for being here! We really hope you get a lot out of it and have a great time :)</p>
    <br>
    <h2>Workshops</h2>
    <ol>
  <li><a href="page1">Web Development: 10:00 AM - 11:00 AM</a></li>
  <li><a href="page2">JavaScript Workshop: 10:00 AM - 11:00 AM</a></li>
  <li><a href="page2">Java Workshop: 1:00 PM - 2:00 PM</a></li>
  </ol>
  </body>
</html>
